Repository OrchardCMS/OrchardCore, pull requests merged in 2018-11, with the labels that each got.

#2608 Migrate to OpenIddict 2.0 RTM
  src/OrchardCore.Build/Dependencies.props
  src/OrchardCore.Modules/OrchardCore.OpenId/Tasks/OpenIdBackgroundTask.cs
  src/OrchardCore/OrchardCore.OpenId.Core/Services/Managers/OpenIdApplicationManager.cs
  src/OrchardCore/OrchardCore.OpenId.Core/Services/Managers/OpenIdAuthorizationManager.cs
  src/OrchardCore/OrchardCore.OpenId.Core/Services/Managers/OpenIdScopeManager.cs
  src/OrchardCore/OrchardCore.OpenId.Core/Services/Managers/OpenIdTokenManager.cs
  src/OrchardCore/OrchardCore.OpenId.Core/YesSql/Stores/OpenIdTokenStore.cs
Labels: Orchard.OpenId

#2610 hide menu text when collapsing left menu
  src/OrchardCore.Themes/TheAdmin/Assets/js/menu.js
  src/OrchardCore.Themes/TheAdmin/wwwroot/Scripts/TheAdmin.js
  src/OrchardCore.Themes/TheAdmin/wwwroot/Scripts/TheAdmin.min.js
Labels: ready

#1786 Decouple the OpenID module from the Users/Roles modules
  src/OrchardCore.Modules/OrchardCore.OpenId/Controllers/AccessController.cs
  src/OrchardCore.Modules/OrchardCore.OpenId/Controllers/ApplicationController.cs
  src/OrchardCore.Modules/OrchardCore.OpenId/Controllers/UserInfoController.cs
  src/OrchardCore.Modules/OrchardCore.OpenId/Manifest.cs
  src/OrchardCore.Modules/OrchardCore.OpenId/OrchardCore.OpenId.csproj
  src/OrchardCore.Modules/OrchardCore.OpenId/Services/OpenIdServerService.cs
  src/OrchardCore.Modules/OrchardCore.OpenId/Startup.cs
  src/OrchardCore.Modules/OrchardCore.Roles/Services/RoleStore.cs
  src/OrchardCore.Modules/OrchardCore.Users/Startup.cs
  src/OrchardCore/OrchardCore.Infrastructure.Abstractions/Security/Services/IRoleProvider.cs
  src/OrchardCore/OrchardCore.OpenId.Core/OpenIdConstants.cs
  src/OrchardCore/OrchardCore.Users.Abstractions/Services/IUserService.cs
  src/OrchardCore/OrchardCore.Users.Core/Services/UserService.cs
Labels: Orchard.OpenId, enhancement

#2745 Fixes #2726 to find subject claim value when using JWT
  src/OrchardCore.Modules/OrchardCore.OpenId/ClaimsPrincipalExtensions.cs
  src/OrchardCore.Modules/OrchardCore.OpenId/Controllers/AccessController.cs
  src/OrchardCore.Modules/OrchardCore.OpenId/Controllers/UserInfoController.cs
Labels: Orchard.OpenId, bug

#2750 Modified DefaultUserClaimsPrincipalFactory to include role claims
  src/OrchardCore/OrchardCore.Users.Core/Services/DefaultUserClaimsPrincipalFactory.cs
Labels: Orchard.Users, bug

#2763 Issue/password flow
  src/OrchardCore.Modules/OrchardCore.OpenId/Views/OpenIdServerSettings.Edit.cshtml
Labels: Orchard.OpenId
