Repository OrchardCMS/OrchardCore, pull requests merged in 2019-03, with the labels that each got.

#3269 Represent OIDC authorities as System.Uri instances to perform automatic normalization
  src/OrchardCore.Modules/OrchardCore.OpenId/Configuration/OpenIdClientConfiguration.cs
  src/OrchardCore.Modules/OrchardCore.OpenId/Configuration/OpenIdServerConfiguration.cs
  src/OrchardCore.Modules/OrchardCore.OpenId/Configuration/OpenIdValidationConfiguration.cs
  src/OrchardCore.Modules/OrchardCore.OpenId/Drivers/OpenIdClientSettingsDisplayDriver.cs
  src/OrchardCore.Modules/OrchardCore.OpenId/Drivers/OpenIdServerSettingsDisplayDriver.cs
  src/OrchardCore.Modules/OrchardCore.OpenId/Drivers/OpenIdValidationSettingsDisplayDriver.cs
  src/OrchardCore.Modules/OrchardCore.OpenId/Recipes/OpenIdClientSettingsStep.cs
  src/OrchardCore.Modules/OrchardCore.OpenId/Recipes/OpenIdServerSettingsStep.cs
  src/OrchardCore.Modules/OrchardCore.OpenId/Services/OpenIdClientService.cs
  src/OrchardCore.Modules/OrchardCore.OpenId/Services/OpenIdServerService.cs
  src/OrchardCore.Modules/OrchardCore.OpenId/Services/OpenIdValidationService.cs
  src/OrchardCore.Modules/OrchardCore.OpenId/Settings/OpenIdClientSettings.cs
  src/OrchardCore.Modules/OrchardCore.OpenId/Settings/OpenIdServerSettings.cs
  src/OrchardCore.Modules/OrchardCore.OpenId/Settings/OpenIdValidationSettings.cs
  src/OrchardCore.Modules/OrchardCore.OpenId/ViewModels/OpenIdServerSettingsViewModel.cs
  src/OrchardCore.Modules/OrchardCore.OpenId/ViewModels/OpenIdValidationSettingsViewModel.cs
  src/OrchardCore.Modules/OrchardCore.OpenId/Views/OpenIdServerSettings.Edit.cshtml
Labels: Orchard.OpenId, bug, dontmerge

#3295 Use flexbox for content alignment on content picker
  src/OrchardCore.Modules/OrchardCore.ContentFields/Views/ContentPickerField.Edit.cshtml
Labels: ready

#3326 Only add a user claim when it is not present
  src/OrchardCore.Modules/OrchardCore.OpenId/Controllers/AccessController.cs
  src/OrchardCore/OrchardCore.Users.Abstractions/Services/IUserService.cs
  src/OrchardCore/OrchardCore.Users.Core/Services/UserService.cs
Labels: Orchard.OpenId, bug

#3390 Fix cancel button on add and edit field on a part
  src/OrchardCore.Modules/OrchardCore.ContentTypes/Controllers/AdminController.cs
  src/OrchardCore.Modules/OrchardCore.ContentTypes/Views/Admin/AddFieldTo.cshtml
  src/OrchardCore.Modules/OrchardCore.ContentTypes/Views/Admin/Edit.cshtml
  src/OrchardCore.Modules/OrchardCore.ContentTypes/Views/Admin/EditField.cshtml
  src/OrchardCore.Modules/OrchardCore.ContentTypes/Views/Admin/EditPart.cshtml
Labels: notready
