Repository OrchardCMS/OrchardCore, pull requests merged in 2020-07, with the labels that each got.

#6561 Shortcodes refactor
  OrchardCore.sln
  mkdocs.yml
  src/OrchardCore.Build/Dependencies.props
  src/OrchardCore.Modules/OrchardCore.ContentFields/Drivers/HtmlFieldDisplayDriver.cs
  src/OrchardCore.Modules/OrchardCore.ContentFields/Manifest.cs
  src/OrchardCore.Modules/OrchardCore.ContentFields/OrchardCore.ContentFields.csproj
  src/OrchardCore.Modules/OrchardCore.Html/Drivers/HtmlBodyPartDisplayDriver.cs
  src/OrchardCore.Modules/OrchardCore.Html/GraphQL/HtmlBodyQueryObjectType.cs
  src/OrchardCore.Modules/OrchardCore.Html/Handlers/HtmlBodyPartHandler.cs
  src/OrchardCore.Modules/OrchardCore.Html/Manifest.cs
  src/OrchardCore.Modules/OrchardCore.Html/OrchardCore.Html.csproj
  src/OrchardCore.Modules/OrchardCore.Liquid/Filters/ShortCodeFilter.cs
  src/OrchardCore.Modules/OrchardCore.Liquid/Manifest.cs
  src/OrchardCore.Modules/OrchardCore.Liquid/OrchardCore.Liquid.csproj
  src/OrchardCore.Modules/OrchardCore.Liquid/Startup.cs
  src/OrchardCore.Modules/OrchardCore.Markdown/Drivers/MarkdownBodyPartDisplay.cs
  src/OrchardCore.Modules/OrchardCore.Markdown/Drivers/MarkdownFieldDriver.cs
  src/OrchardCore.Modules/OrchardCore.Markdown/GraphQL/MarkdownBodyQueryObjectType.cs
  src/OrchardCore.Modules/OrchardCore.Markdown/GraphQL/MarkdownFieldQueryObjectType.cs
  src/OrchardCore.Modules/OrchardCore.Markdown/Handlers/MarkdownBodyPartHandler.cs
  src/OrchardCore.Modules/OrchardCore.Markdown/Manifest.cs
  src/OrchardCore.Modules/OrchardCore.Markdown/OrchardCore.Markdown.csproj
  src/OrchardCore.Modules/OrchardCore.Markdown/Razor/MarkdownHelperExtensions.cs
  src/OrchardCore.Modules/OrchardCore.Media/Manifest.cs
  src/OrchardCore.Modules/OrchardCore.Media/OrchardCore.Media.csproj
  src/OrchardCore.Modules/OrchardCore.Media/ShortCodes/ImageShortCode.cs
  src/OrchardCore.Modules/OrchardCore.Media/Shortcodes/ImageShortcodeProvider.cs
  src/OrchardCore.Modules/OrchardCore.Media/Startup.cs
  src/OrchardCore.Modules/OrchardCore.ShortCodes/Services/ShortCodeService.cs
  src/OrchardCore.Modules/OrchardCore.Shortcodes/Manifest.cs
  src/OrchardCore.Modules/OrchardCore.Shortcodes/OrchardCore.Shortcodes.csproj
  src/OrchardCore.Modules/OrchardCore.Shortcodes/Properties/AssemblyInfo.cs
  src/OrchardCore.Modules/OrchardCore.Shortcodes/Razor/OrchardRazorHelperExtensions.cs
  src/OrchardCore.Modules/OrchardCore.Shortcodes/Services/ShortcodeService.cs
  src/OrchardCore.Modules/OrchardCore.Shortcodes/Startup.cs
  src/OrchardCore/OrchardCore.Application.Cms.Core.Targets/OrchardCore.Application.Cms.Core.Targets.csproj
  src/OrchardCore/OrchardCore.ShortCodes.Abstractions/Services/IShortCodeService.cs
  src/OrchardCore/OrchardCore.Shortcodes.Abstractions/OrchardCore.Shortcodes.Abstractions.csproj
  src/OrchardCore/OrchardCore.Shortcodes.Abstractions/Services/IShortcodeService.cs
  src/docs/reference/modules/ShortCodes/README.md
  src/docs/reference/modules/Shortcodes/README.md
  test/OrchardCore.Tests/Modules/OrchardCore.Media/ImageShortCodeTests.cs
  test/OrchardCore.Tests/Modules/OrchardCore.Media/ImageShortcodeTests.cs
Labels: ready

#4720 Migrate the OpenID module to OpenIddict 3.0
  src/OrchardCore.Build/Dependencies.AspNetCore.props
  src/OrchardCore.Build/Dependencies.props
  src/OrchardCore.Modules/OrchardCore.OpenId/ClaimsPrincipalExtensions.cs
  src/OrchardCore.Modules/OrchardCore.OpenId/Configuration/OpenIdServerConfiguration.cs
  src/OrchardCore.Modules/OrchardCore.OpenId/Configuration/OpenIdValidationConfiguration.cs
  src/OrchardCore.Modules/OrchardCore.OpenId/Controllers/AccessController.cs
  src/OrchardCore.Modules/OrchardCore.OpenId/Controllers/ApplicationController.cs
  src/OrchardCore.Modules/OrchardCore.OpenId/Controllers/ScopeController.cs
  src/OrchardCore.Modules/OrchardCore.OpenId/Controllers/UserInfoController.cs
  src/OrchardCore.Modules/OrchardCore.OpenId/Drivers/OpenIdServerSettingsDisplayDriver.cs
  src/OrchardCore.Modules/OrchardCore.OpenId/Drivers/OpenIdValidationSettingsDisplayDriver.cs
  src/OrchardCore.Modules/OrchardCore.OpenId/Filters/OpenIdControllerAttribute.cs
  src/OrchardCore.Modules/OrchardCore.OpenId/Handlers/OpenIdApplicationRoleRemovedEventHandler.cs
  src/OrchardCore.Modules/OrchardCore.OpenId/Manifest.cs
  src/OrchardCore.Modules/OrchardCore.OpenId/OpenIdExtensions.cs
  src/OrchardCore.Modules/OrchardCore.OpenId/OrchardCore.OpenId.csproj
  src/OrchardCore.Modules/OrchardCore.OpenId/Recipes/OpenIdServerSettingsStep.cs
  src/OrchardCore.Modules/OrchardCore.OpenId/Recipes/OpenIdServerSettingsStepModel.cs
  src/OrchardCore.Modules/OrchardCore.OpenId/Recipes/OpenIdValidationSettingsStep.cs
  src/OrchardCore.Modules/OrchardCore.OpenId/Recipes/OpenIdValidationSettingsStepModel.cs
  src/OrchardCore.Modules/OrchardCore.OpenId/Services/IOpenIdServerService.cs
  src/OrchardCore.Modules/OrchardCore.OpenId/Services/OpenIdServerService.cs
  src/OrchardCore.Modules/OrchardCore.OpenId/Services/OpenIdValidationService.cs
  src/OrchardCore.Modules/OrchardCore.OpenId/Settings/OpenIdServerSettings.cs
  src/OrchardCore.Modules/OrchardCore.OpenId/Settings/OpenIdValidationSettings.cs
  src/OrchardCore.Modules/OrchardCore.OpenId/Startup.cs
  src/OrchardCore.Modules/OrchardCore.OpenId/Tasks/OpenIdBackgroundTask.cs
  src/OrchardCore.Modules/OrchardCore.OpenId/ViewModels/OpenIdServerSettingsViewModel.cs
  src/OrchardCore.Modules/OrchardCore.OpenId/ViewModels/OpenIdValidationSettingsViewModel.cs
  src/OrchardCore.Modules/OrchardCore.OpenId/Views/Access/Authorize.cshtml
  src/OrchardCore.Modules/OrchardCore.OpenId/Views/Access/Logout.cshtml
  src/OrchardCore.Modules/OrchardCore.OpenId/Views/Application/Create.cshtml
  src/OrchardCore.Modules/OrchardCore.OpenId/Views/Application/Edit.cshtml
  src/OrchardCore.Modules/OrchardCore.OpenId/Views/OpenIdServerSettings.Edit.cshtml
  src/OrchardCore.Modules/OrchardCore.OpenId/Views/OpenIdValidationSettings.Edit.cshtml
  src/OrchardCore/OrchardCore.Abstractions/Modules/Builder/OrchardCoreBuilder.cs
  src/OrchardCore/OrchardCore.Infrastructure/Security/AuthenticationHandler.cs
  src/OrchardCore/OrchardCore.OpenId.Core/Abstractions/Managers/IOpenIdApplicationManager.cs
  src/OrchardCore/OrchardCore.OpenId.Core/Abstractions/Stores/IOpenIdApplicationStore.cs
  src/OrchardCore/OrchardCore.OpenId.Core/Abstractions/Stores/IOpenIdAuthorizationStore.cs
  src/OrchardCore/OrchardCore.OpenId.Core/Abstractions/Stores/IOpenIdScopeStore.cs
  src/OrchardCore/OrchardCore.OpenId.Core/Abstractions/Stores/IOpenIdTokenStore.cs
  src/OrchardCore/OrchardCore.OpenId.Core/OpenIdConstants.cs
  src/OrchardCore/OrchardCore.OpenId.Core/Services/Managers/OpenIdApplicationManager.cs
  src/OrchardCore/OrchardCore.OpenId.Core/Services/Managers/OpenIdAuthorizationManager.cs
  src/OrchardCore/OrchardCore.OpenId.Core/Services/Managers/OpenIdScopeManager.cs
  src/OrchardCore/OrchardCore.OpenId.Core/Services/Managers/OpenIdTokenManager.cs
  src/OrchardCore/OrchardCore.OpenId.Core/YesSql/Models/OpenIdApplication.cs
  src/OrchardCore/OrchardCore.OpenId.Core/YesSql/Stores/OpenIdApplicationStore.cs
  src/OrchardCore/OrchardCore.OpenId.Core/YesSql/Stores/OpenIdAuthorizationStore.cs
  src/OrchardCore/OrchardCore.OpenId.Core/YesSql/Stores/OpenIdScopeStore.cs
  src/OrchardCore/OrchardCore.OpenId.Core/YesSql/Stores/OpenIdTokenStore.cs
  src/docs/reference/modules/OpenId/README.md
Labels: OpenId, ready

#6683 Update the scope creation/update UI to mention that the server tenant is always included in access token audiences
  src/OrchardCore.Modules/OrchardCore.OpenId/Views/Scope/Create.cshtml
  src/OrchardCore.Modules/OrchardCore.OpenId/Views/Scope/Edit.cshtml
Labels: OpenId, enhancement

#6727 Fix how scopes are checked in UserInfoController and revert the changes made in OpenIdClientConfiguration
  src/OrchardCore.Modules/OrchardCore.OpenId/Configuration/OpenIdClientConfiguration.cs
  src/OrchardCore.Modules/OrchardCore.OpenId/Controllers/UserInfoController.cs
Labels: OpenId, P0, bug

#5862 Export to deployment target / Add to deployment plan
  src/OrchardCore.Modules/OrchardCore.Contents/Deployment/AddToDeploymentPlan/AddToDeploymentPlanContentDriver.cs
  src/OrchardCore.Modules/OrchardCore.Contents/Deployment/AddToDeploymentPlan/AddToDeploymentPlanContentsAdminListDisplayDriver.cs
  src/OrchardCore.Modules/OrchardCore.Contents/Deployment/AddToDeploymentPlan/AddToDeploymentPlanController.cs
  src/OrchardCore.Modules/OrchardCore.Contents/Deployment/AddToDeploymentPlan/AddToDeploymentPlanStartup.cs
  src/OrchardCore.Modules/OrchardCore.Contents/Deployment/AddToDeploymentPlan/ContentItemDeploymentSource.cs
  src/OrchardCore.Modules/OrchardCore.Contents/Deployment/AddToDeploymentPlan/ContentItemDeploymentStep.cs
  src/OrchardCore.Modules/OrchardCore.Contents/Deployment/AddToDeploymentPlan/ContentItemDeploymentStepDriver.cs
  src/OrchardCore.Modules/OrchardCore.Contents/Deployment/AddToDeploymentPlan/ContentItemDeploymentStepViewModel.cs
  src/OrchardCore.Modules/OrchardCore.Contents/Deployment/Download/DisplayJsonContentItemViewModel.cs
  src/OrchardCore.Modules/OrchardCore.Contents/Deployment/Download/DownloadContentDriver.cs
  src/OrchardCore.Modules/OrchardCore.Contents/Deployment/Download/DownloadController.cs
  src/OrchardCore.Modules/OrchardCore.Contents/Deployment/Download/DownloadStartup.cs
  src/OrchardCore.Modules/OrchardCore.Contents/Deployment/ExportContentToDeploymentTarget/ExportContentToDeploymentTargetAdminMenu.cs
  src/OrchardCore.Modules/OrchardCore.Contents/Deployment/ExportContentToDeploymentTarget/ExportContentToDeploymentTargetContentDriver.cs
  src/OrchardCore.Modules/OrchardCore.Contents/Deployment/ExportContentToDeploymentTarget/ExportContentToDeploymentTargetContentsAdminListDisplayDriver.cs
  src/OrchardCore.Modules/OrchardCore.Contents/Deployment/ExportContentToDeploymentTarget/ExportContentToDeploymentTargetDeploymentSource.cs
  src/OrchardCore.Modules/OrchardCore.Contents/Deployment/ExportContentToDeploymentTarget/ExportContentToDeploymentTargetDeploymentStep.cs
  src/OrchardCore.Modules/OrchardCore.Contents/Deployment/ExportContentToDeploymentTarget/ExportContentToDeploymentTargetDeploymentStepDriver.cs
  src/OrchardCore.Modules/OrchardCore.Contents/Deployment/ExportContentToDeploymentTarget/ExportContentToDeploymentTargetMigrations.cs
  src/OrchardCore.Modules/OrchardCore.Contents/Deployment/ExportContentToDeploymentTarget/ExportContentToDeploymentTargetSettings.cs
  src/OrchardCore.Modules/OrchardCore.Contents/Deployment/ExportContentToDeploymentTarget/ExportContentToDeploymentTargetSettingsDisplayDriver.cs
  src/OrchardCore.Modules/OrchardCore.Contents/Deployment/ExportContentToDeploymentTarget/ExportContentToDeploymentTargetSettingsViewModel.cs
  src/OrchardCore.Modules/OrchardCore.Contents/Deployment/ExportContentToDeploymentTarget/ExportContentToDeploymentTargetStartup.cs
  src/OrchardCore.Modules/OrchardCore.Contents/Drivers/ContentsDriver.cs
  src/OrchardCore.Modules/OrchardCore.Contents/Manifest.cs
  src/OrchardCore.Modules/OrchardCore.Contents/Migrations/exportcontenttodeploymenttarget.recipe.json
  src/OrchardCore.Modules/OrchardCore.Contents/OrchardCore.Contents.csproj
  src/OrchardCore.Modules/OrchardCore.Contents/Startup.cs
  src/OrchardCore.Modules/OrchardCore.Contents/Views/Admin/List.cshtml
  src/OrchardCore.Modules/OrchardCore.Contents/Views/Content.SummaryAdmin.cshtml
  src/OrchardCore.Modules/OrchardCore.Contents/Views/Contents-BulkActions.cshtml
  src/OrchardCore.Modules/OrchardCore.Contents/Views/Contents-Button-Actions.SummaryAdmin.cshtml
  src/OrchardCore.Modules/OrchardCore.Contents/Views/Download/Display.cshtml
  src/OrchardCore.Modules/OrchardCore.Contents/Views/Items/AddToDeploymentPlan-ActionDeploymentPlan.Modal.cshtml
  src/OrchardCore.Modules/OrchardCore.Contents/Views/Items/AddToDeploymentPlan-Button-Actions.SummaryAdmin.cshtml
  src/OrchardCore.Modules/OrchardCore.Contents/Views/Items/AddToDeploymentPlan-Button-ContentsBulkActions.cshtml
  src/OrchardCore.Modules/OrchardCore.Contents/Views/Items/AddToDeploymentPlan-ContentsBulkActionsDeploymentPlan.Modal.cshtml
  src/OrchardCore.Modules/OrchardCore.Contents/Views/Items/ContentItemDeploymentStep.Fields.Edit.cshtml
  src/OrchardCore.Modules/OrchardCore.Contents/Views/Items/ContentItemDeploymentStep.Fields.Summary.cshtml
  src/OrchardCore.Modules/OrchardCore.Contents/Views/Items/ContentItemDeploymentStep.Fields.Thumbnail.cshtml
  src/OrchardCore.Modules/OrchardCore.Contents/Views/Items/Download-Button-Actions.SummaryAdmin.cshtml
  src/OrchardCore.Modules/OrchardCore.Contents/Views/Items/ExportContentToDeploymentTarget-ActionDeploymentTarget.Modal.cshtml
  src/OrchardCore.Modules/OrchardCore.Contents/Views/Items/ExportContentToDeploymentTarget-Button-Actions.SummaryAdmin.cshtml
  src/OrchardCore.Modules/OrchardCore.Contents/Views/Items/ExportContentToDeploymentTarget-Button-ContentsBulkActions.cshtml
  src/OrchardCore.Modules/OrchardCore.Contents/Views/Items/ExportContentToDeploymentTarget-ContentsBulkActionsDeploymentTarget.Modal.cshtml
  src/OrchardCore.Modules/OrchardCore.Contents/Views/Items/ExportContentToDeploymentTargetDeploymentStep.Fields.Edit.cshtml
  src/OrchardCore.Modules/OrchardCore.Contents/Views/Items/ExportContentToDeploymentTargetDeploymentStep.Fields.Summary.cshtml
  src/OrchardCore.Modules/OrchardCore.Contents/Views/Items/ExportContentToDeploymentTargetDeploymentStep.Fields.Thumbnail.cshtml
  src/OrchardCore.Modules/OrchardCore.Contents/Views/Items/ExportContentToDeploymentTargetSettings.Edit.cshtml
  src/OrchardCore.Modules/OrchardCore.Contents/Views/_ViewImports.cshtml
  src/OrchardCore.Modules/OrchardCore.Deployment.Remote/Controllers/ExportRemoteInstanceController.cs
  src/OrchardCore.Modules/OrchardCore.Deployment/Deployment/DeploymentPlanDeploymentSource.cs
  src/OrchardCore.Modules/OrchardCore.Deployment/Deployment/DeploymentPlanDeploymentStepDriver.cs
  src/OrchardCore.Modules/OrchardCore.Deployment/DeploymentPlanService.cs
  src/OrchardCore.Modules/OrchardCore.Deployment/Permissions.cs
  src/OrchardCore.Modules/OrchardCore.Deployment/Recipes/DeploymentPlansRecipeStep.cs
  src/OrchardCore.Modules/OrchardCore.Deployment/Startup.cs
  src/OrchardCore/OrchardCore.Deployment.Abstractions/IDeploymentPlanService.cs
  src/OrchardCore/OrchardCore.Deployment.Core/CommonPermissions.cs
Labels: ready
