Repository OrchardCMS/OrchardCore, pull requests merged in 2022-11, with the labels that each got.

#12803 Don't localize custom errors returned by the userinfo endpoint
  src/OrchardCore.Modules/OrchardCore.OpenId/Controllers/UserInfoController.cs
Labels: bug :bug:, OpenId

#12802 Reject grant_type=client_credentials token requests containing scope=offline_access
  src/OrchardCore.Modules/OrchardCore.OpenId/Controllers/AccessController.cs
Labels: bug :bug:, OpenId

#12807 Added /Admin relative URL for admin menu nodes
  src/OrchardCore/OrchardCore.Navigation.Core/NavigationManager.cs
  src/OrchardCore/OrchardCore.Navigation.Core/OrchardCore.Navigation.Core.csproj
Labels: dontmerge

#12875 Add Alias to ValidationResult
  src/OrchardCore.Modules/OrchardCore.Alias/Models/AliasPartExtensions.cs
  src/OrchardCore.Themes/TheAdmin/Assets/scss/modules/admin/_validations.scss
  src/OrchardCore.Themes/TheAdmin/wwwroot/css/TheAdmin.css
  src/OrchardCore.Themes/TheAdmin/wwwroot/css/TheAdmin.min.css
Labels: ready
