Repository OrchardCMS/OrchardCore, pull requests merged in 2024-12, with the labels that each got.

#17224 Roles with no permission are auto migrated to Administrator roles
  mkdocs.yml
  src/OrchardCore.Modules/OrchardCore.Roles/Migrations/RolesMigrations.cs
  src/docs/releases/2.1.3.md
Labels: security

#16929 Migrate the OpenID module to OpenIddict 6.0
  Directory.Packages.props
  src/OrchardCore.Modules/OrchardCore.OpenId/Configuration/OpenIdServerConfiguration.cs
  src/OrchardCore.Modules/OrchardCore.OpenId/Controllers/AccessController.cs
  src/OrchardCore.Modules/OrchardCore.OpenId/Controllers/ApplicationController.cs
  src/OrchardCore.Modules/OrchardCore.OpenId/OpenIdApplicationSettings.cs
  src/OrchardCore.Modules/OrchardCore.OpenId/Views/Application/Create.cshtml
  src/OrchardCore.Modules/OrchardCore.OpenId/Views/Application/Edit.cshtml
  src/OrchardCore.Modules/OrchardCore.OpenId/Views/OpenIdServerSettings.Edit.cshtml
  src/OrchardCore/OrchardCore.OpenId.Core/YesSql/Stores/OpenIdAuthorizationStore.cs
  src/OrchardCore/OrchardCore.OpenId.Core/YesSql/Stores/OpenIdTokenStore.cs
  test/OrchardCore.Tests/Modules/OrchardCore.OpenId/OpenIdApplicationStepTestsData.cs
Labels: OpenId, dependencies

#17266 Fix required tenant in OpenId Validation settings UI
  src/OrchardCore.Modules/OrchardCore.OpenId/Drivers/OpenIdValidationSettingsDisplayDriver.cs
Labels: bug :bug:, OpenId
