Repository OrchardCMS/OrchardCore, pull requests merged in 2024-11, with the labels that each got.

#16736 Upgrade GraphQL to 8.2
  Directory.Packages.props
  mkdocs.yml
  src/OrchardCore.Modules/OrchardCore.Apis.GraphQL/GraphQLMiddleware.cs
  src/OrchardCore.Modules/OrchardCore.Apis.GraphQL/Services/SchemaService.cs
  src/OrchardCore.Modules/OrchardCore.Apis.GraphQL/ValidationRules/MaxNumberOfResultsValidationRule.cs
  src/OrchardCore.Modules/OrchardCore.Apis.GraphQL/ValidationRules/RequiresPermissionValidationRule.cs
  src/OrchardCore.Modules/OrchardCore.ContentFields/GraphQL/Fields/ContentFieldsProvider.cs
  src/OrchardCore.Modules/OrchardCore.ContentFields/GraphQL/Types/ContentPickerFieldQueryObjectType.cs
  src/OrchardCore.Modules/OrchardCore.Flows/GraphQL/FlowMetadataContentTypeBuilder.cs
  src/OrchardCore.Modules/OrchardCore.Layers/GraphQL/LayerQueryObjectType.cs
  src/OrchardCore.Modules/OrchardCore.Layers/GraphQL/SiteLayersQuery.cs
  src/OrchardCore.Modules/OrchardCore.Localization/GraphQL/SiteCulturesQuery.cs
  src/OrchardCore.Modules/OrchardCore.Media/GraphQL/MediaAssetQuery.cs
  src/OrchardCore.Modules/OrchardCore.Menu/GraphQL/MenuItemContentTypeBuilder.cs
  src/OrchardCore.Modules/OrchardCore.Menu/GraphQL/MenuItemsListQueryObjectType.cs
  src/OrchardCore.Modules/OrchardCore.Queries/Sql/GraphQL/SqlQueryFieldTypeProvider.cs
  src/OrchardCore.Modules/OrchardCore.Search.Elasticsearch/GraphQL/ElasticQueryFieldTypeProvider.cs
  src/OrchardCore.Modules/OrchardCore.Search.Lucene/GraphQL/LuceneQueryFieldTypeProvider.cs
  src/OrchardCore.Modules/OrchardCore.Users/GraphQL/CurrentUserQuery.cs
  src/OrchardCore/OrchardCore.Apis.GraphQL.Abstractions/GraphQLFieldNameAttribute.cs
  src/OrchardCore/OrchardCore.Apis.GraphQL.Abstractions/GraphQLSettings.cs
  src/OrchardCore/OrchardCore.Apis.GraphQL.Abstractions/GraphQLUserContext.cs
  src/OrchardCore/OrchardCore.Apis.GraphQL.Abstractions/Queries/IFilterInputObjectGraphType.cs
  src/OrchardCore/OrchardCore.Apis.GraphQL.Abstractions/Queries/WhereInputObjectGraphType.cs
  src/OrchardCore/OrchardCore.Apis.GraphQL.Abstractions/ServiceCollectionExtensions.cs
  src/OrchardCore/OrchardCore.ContentManagement.GraphQL/Options/GraphQLContentOptions.cs
  src/OrchardCore/OrchardCore.ContentManagement.GraphQL/Options/GraphQLContentPartOption.cs
  src/OrchardCore/OrchardCore.ContentManagement.GraphQL/Queries/ContentItemFilters.cs
  src/OrchardCore/OrchardCore.ContentManagement.GraphQL/Queries/ContentItemQuery.cs
  src/OrchardCore/OrchardCore.ContentManagement.GraphQL/Queries/ContentItemsFieldType.cs
  src/OrchardCore/OrchardCore.ContentManagement.GraphQL/Queries/ContentTypeQuery.cs
  src/OrchardCore/OrchardCore.ContentManagement.GraphQL/Queries/PublicationStatusGraphType.cs
  src/OrchardCore/OrchardCore.ContentManagement.GraphQL/Queries/Types/ContentItemInterface.cs
  src/OrchardCore/OrchardCore.ContentManagement.GraphQL/Queries/Types/ContentItemOrderByInput.cs
  src/OrchardCore/OrchardCore.ContentManagement.GraphQL/Queries/Types/ContentItemType.cs
  src/OrchardCore/OrchardCore.ContentManagement.GraphQL/Queries/Types/ContentItemWhereInput.cs
  src/OrchardCore/OrchardCore.ContentManagement.GraphQL/Queries/Types/DynamicContentFieldsIndexAliasProvider.cs
  src/OrchardCore/OrchardCore.ContentManagement.GraphQL/Queries/Types/DynamicContentTypeBuilder.cs
  src/OrchardCore/OrchardCore.ContentManagement.GraphQL/Queries/Types/DynamicContentTypeQueryBuilder.cs
  src/OrchardCore/OrchardCore.ContentManagement.GraphQL/Queries/Types/DynamicContentTypeWhereInputBuilder.cs
  src/OrchardCore/OrchardCore.ContentManagement.GraphQL/Queries/Types/DynamicPartGraphType.cs
  src/OrchardCore/OrchardCore.ContentManagement.GraphQL/Queries/Types/FieldTypeIndexDescriptor.cs
  src/OrchardCore/OrchardCore.ContentManagement.GraphQL/Queries/Types/IContentFieldProvider.cs
  src/OrchardCore/OrchardCore.ContentManagement.GraphQL/Queries/Types/IContentTypeBuilder.cs
  src/OrchardCore/OrchardCore.ContentManagement.GraphQL/Queries/Types/TypedContentTypeBuilder.cs
  src/OrchardCore/OrchardCore.ContentManagement.GraphQL/ServiceCollectionExtensions.cs
  src/OrchardCore/OrchardCore.Users.Core/GraphQL/UserType.cs
  src/docs/releases/3.0.0.md
  test/OrchardCore.Tests/Apis/GraphQL/ContentItemsFieldTypeTests.cs
Labels: GraphQL

#17087 Fix SiteOwner claim for OpenId
  src/OrchardCore.Modules/OrchardCore.OpenId/OrchardCore.OpenId.csproj
  src/OrchardCore.Modules/OrchardCore.Roles/Services/RoleClaimsProvider.cs
  src/OrchardCore.Modules/OrchardCore.Settings/OrchardCore.Settings.csproj
  src/OrchardCore.Modules/OrchardCore.Settings/Services/SuperUserHandler.cs
  src/OrchardCore.Modules/OrchardCore.Settings/Startup.cs
  src/OrchardCore/OrchardCore.Infrastructure.Abstractions/Security/StandardClaims.cs
  src/OrchardCore/OrchardCore.Roles.Core/ServiceCollectionExtensions.cs
Labels: bug :bug:, OpenId, Roles, breaking change :boom:

#17089 Obsolete SiteOwner claim and fix OpenId
  src/OrchardCore.Modules/OrchardCore.Roles/Services/RoleClaimsProvider.cs
  src/OrchardCore.Modules/OrchardCore.Settings/OrchardCore.Settings.csproj
  src/OrchardCore.Modules/OrchardCore.Settings/Services/SuperUserHandler.cs
  src/OrchardCore.Modules/OrchardCore.Settings/Startup.cs
  src/OrchardCore.Modules/OrchardCore.Users/Liquid/UserFilters.cs
  src/OrchardCore/OrchardCore.Infrastructure.Abstractions/Security/StandardClaims.cs
  src/OrchardCore/OrchardCore.Roles.Core/ServiceCollectionExtensions.cs
Labels: bug :bug:, OpenId, Roles

#17084 Replace unnecesary calls to SaveChangesAsync by FlushAsync
  .editorconfig
  src/OrchardCore.Modules/OrchardCore.Html/Migrations.cs
  src/OrchardCore.Modules/OrchardCore.Title/Migrations.cs
  src/OrchardCore/OrchardCore.OpenId.Core/YesSql/Stores/OpenIdApplicationStore.cs
  src/OrchardCore/OrchardCore.OpenId.Core/YesSql/Stores/OpenIdAuthorizationStore.cs
  src/OrchardCore/OrchardCore.OpenId.Core/YesSql/Stores/OpenIdScopeStore.cs
  src/OrchardCore/OrchardCore.OpenId.Core/YesSql/Stores/OpenIdTokenStore.cs
  src/OrchardCore/OrchardCore.Users.Core/Services/UserStore.cs
  test/OrchardCore.Tests/Apis/GraphQL/ContentItemsFieldTypeTests.cs
  test/OrchardCore.Tests/DisplayManagement/Decriptors/DefaultShapeTableManagerTests.cs
Labels: enhancement, OpenId, Users
