Repository OrchardCMS/OrchardCore, pull requests merged in 2025-07, with the labels that each got.

#18132 Refactor OpenID Connect Management UI setup
  src/OrchardCore.Modules/OrchardCore.OpenId/Startup.cs
Labels: OpenId

#18141 Migrate the OpenID module to OpenIddict 7.0 [release/2.2]
  Directory.Packages.props
  src/OrchardCore.Modules/OrchardCore.OpenId/Configuration/OpenIdServerConfiguration.cs
  src/OrchardCore.Modules/OrchardCore.OpenId/Controllers/AccessController.cs
  src/OrchardCore.Modules/OrchardCore.OpenId/Controllers/ApplicationController.cs
  src/OrchardCore.Modules/OrchardCore.OpenId/OpenIdApplicationSettings.cs
  src/OrchardCore.Modules/OrchardCore.OpenId/ViewModels/AuthorizeViewModel.cs
  src/OrchardCore.Modules/OrchardCore.OpenId/ViewModels/LogoutViewModel.cs
  src/OrchardCore.Modules/OrchardCore.OpenId/Views/Access/Logout.cshtml
  src/OrchardCore.Modules/OrchardCore.OpenId/Views/Application/Create.cshtml
  src/OrchardCore.Modules/OrchardCore.OpenId/Views/Application/Edit.cshtml
  src/OrchardCore.Modules/OrchardCore.OpenId/Views/OpenIdServerSettings.Edit.cshtml
  src/OrchardCore/OrchardCore.OpenId.Core/Extensions/OpenIdExtensions.cs
  src/OrchardCore/OrchardCore.OpenId.Core/Services/Managers/OpenIdApplicationManager.cs
  src/OrchardCore/OrchardCore.OpenId.Core/Services/Managers/OpenIdAuthorizationManager.cs
  src/OrchardCore/OrchardCore.OpenId.Core/Services/Managers/OpenIdScopeManager.cs
  src/OrchardCore/OrchardCore.OpenId.Core/Services/Managers/OpenIdTokenManager.cs
  src/OrchardCore/OrchardCore.OpenId.Core/YesSql/Resolvers/OpenIdApplicationStoreResolver.cs
  src/OrchardCore/OrchardCore.OpenId.Core/YesSql/Resolvers/OpenIdAuthorizationStoreResolver.cs
  src/OrchardCore/OrchardCore.OpenId.Core/YesSql/Resolvers/OpenIdScopeStoreResolver.cs
  src/OrchardCore/OrchardCore.OpenId.Core/YesSql/Resolvers/OpenIdTokenStoreResolver.cs
  src/OrchardCore/OrchardCore.OpenId.Core/YesSql/Stores/OpenIdAuthorizationStore.cs
  src/OrchardCore/OrchardCore.OpenId.Core/YesSql/Stores/OpenIdTokenStore.cs
  test/OrchardCore.Tests/Modules/OrchardCore.OpenId/OpenIdApplicationStepTestsData.cs
Labels: enhancement, OpenId, dependencies

#17667 Migrate the OpenID module to OpenIddict 7.0
  Directory.Packages.props
  src/OrchardCore/OrchardCore.OpenId.Core/Extensions/OpenIdExtensions.cs
  src/OrchardCore/OrchardCore.OpenId.Core/Services/Managers/OpenIdApplicationManager.cs
  src/OrchardCore/OrchardCore.OpenId.Core/Services/Managers/OpenIdAuthorizationManager.cs
  src/OrchardCore/OrchardCore.OpenId.Core/Services/Managers/OpenIdScopeManager.cs
  src/OrchardCore/OrchardCore.OpenId.Core/Services/Managers/OpenIdTokenManager.cs
  src/OrchardCore/OrchardCore.OpenId.Core/YesSql/Resolvers/OpenIdApplicationStoreResolver.cs
  src/OrchardCore/OrchardCore.OpenId.Core/YesSql/Resolvers/OpenIdAuthorizationStoreResolver.cs
  src/OrchardCore/OrchardCore.OpenId.Core/YesSql/Resolvers/OpenIdScopeStoreResolver.cs
  src/OrchardCore/OrchardCore.OpenId.Core/YesSql/Resolvers/OpenIdTokenStoreResolver.cs
Labels: OpenId, dependencies
